.navbar-brand {
    padding-top: 0;
}

.login-logo,
.register-logo {
    color: #495057;
}

.register-box-msg {
    padding: 0 10px 20px;
}

/* カテゴリタイプのラジオボタン */
.category-type-radio {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
}

.category-type-radio input {
    display: none;
}

.category-type-radio label {
    display: block;
    float: left;
    cursor: pointer;
    width: 50%;
    margin: 1px 0 1px 0;
    padding: 10px 0;
    border-right: 1px solid #d7d7d7;
    background: #e5e5e5;
    color: #555e64;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    transition: .2s;
}

.category-type-radio label:last-of-type {
    border-right: 0px;
}

.category-type-radio input[type="radio"]:checked+.labelExpense {
    background-color: #dc3545;
    color: #fff;
}

.category-type-radio input[type="radio"]:checked+.labelIncome {
    background-color: #28a745;
    color: #fff;
}

/* 色設定のラジオボタン */
.color-setting-radio {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
}

.color-setting-radio input {
    display: none;
}

.color-setting-radio label {
    display: block;
    float: left;
    cursor: pointer;
    width: 50%;
    margin: 1px 0 1px 0;
    padding: 10px 0;
    border-right: 1px solid #d7d7d7;
    background: #e5e5e5;
    color: #555e64;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    transition: .2s;
}

.color-setting-radio label:last-of-type {
    border-right: 0px;
}

.color-setting-radio input[type="radio"]:checked+.labelRed {
    background-color: #dc3545;
    color: #fff;
}

.color-setting-radio input[type="radio"]:checked+.labelGreen {
    background-color: #28a745;
    color: #fff;
}

.card-btn-header::after {
    content: none;
}

.form-row {
    margin-left: 0px;
}