<div class="container" th:fragment="content">
  <section class="content-header">
    <div class="container-fluid">
      <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:text="${errorMessage}"></span>
        <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${successMessage}"></span>
        <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row mb-2">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
          <h1>支出カテゴリ一覧</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 mb-4">
          <div class="list-group">
            <li class="list-group-item list-group-item-dark setting-menu-list">設定</li>
            <a th:href="@{/settings/categories-expense}"
              class="list-group-item list-group-item-action active">支出カテゴリ設定</a>
            <a th:href="@{/settings/categories-income}" class="list-group-item list-group-item-action">収入カテゴリ設定</a>
            <a th:href="@{/settings/recurring-transactions}" class="list-group-item list-group-item-action">定期入力設定</a>
            <a th:href="@{/settings/color-setting}" class="list-group-item list-group-item-action">色設定</a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="text-right mb-2">
            <a th:href="@{/categories-expense/new}" class="btn btn-success"> 追加する</a>
          </div>
          <div class="card">
            <div class="card-body table-responsive p-0">
              <table class="table tablee-hover text-nowrap">
                <thead>
                  <tr>
                    <!-- デバック用 -->
                    <!-- <th>カテゴリ</th> -->
                    <!-- <th>カテゴリタイプ</th> -->
                    <th>カテゴリ名</th>
                    <th>編集</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="category : ${expenseCategories}">
                    <!-- デバック用 -->
                    <!-- <td th:text="${category.id}">Category</td> -->
                    <!-- <td th:switch="${category.type}">
                                            <span th:case="'expense'" th:text="支出">支出</span>
                                            <span th:case="'income'" th:text="収入">収入</span>
                                        </td> -->
                    <td th:text="${category.name}">Category</td>
                    <td><a th:href="@{/categories-expense/edit/{id}(id=${category.id})}" style="color: #212529;"><i
                          class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>