<div class="container mx-auto" th:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:text="${errorMessage}"></span>
                <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
                <span th:text="${successMessage}"></span>
                <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row mb-2">
                <div class="col-md">
                    <h1>ダッシュボード</h1>
                </div>
            </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="card card-info">
                        <div class="card-header card-btn-header d-flex justify-content-between align-items-center">
                            <a th:href="@{/dashboard(yearMonth=${previousMonth})}" class="btn btn-secondary">前の月へ</a>
                            <span class="h3 card-title" th:text="${currentDate} + の収支">当月の収支</span>
                            <a th:href="@{/dashboard(yearMonth=${nextMonth})}" class="btn btn-secondary">次の月へ</a>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table text-nowrap">
                                <thead>
                                    <tr>
                                        <th>収入-支出</th>
                                        <th>収入</th>
                                        <th>支出</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td th:switch="${colorPreference}" class="h4">
                                            <span th:case="'greenPositive'"
                                                th:text="${summary.netIncome == 0 ? '0円' : #numbers.formatInteger(summary.netIncome, 3, 'COMMA') + '円'}"
                                                th:classappend="${summary.netIncome >= 0 ? 'text-success' : 'text-danger'}">
                                                収入-支出</span>
                                            <span th:case="'redPositive'"
                                                th:text="${summary.netIncome == 0 ? '0円' : #numbers.formatInteger(summary.netIncome, 3, 'COMMA') + '円'}"
                                                th:classappend="${summary.netIncome >= 0 ? 'text-danger' : 'text-success'}">
                                                収入-支出</span>
                                        </td>
                                        <td class="h4"
                                            th:classappend="${colorPreference == 'greenPositive'} ? 'text-success' : 'text-danger'"
                                            th:text="${summary.incomeTotal == 0 ? '0円' : #numbers.formatInteger(summary.incomeTotal, 3, 'COMMA') + '円'}">
                                            収入</td>
                                        <td class="h4"
                                            th:classappend="${colorPreference == 'greenPositive'} ? 'text-danger' : 'text-success'"
                                            th:text="${summary.expenseTotal == 0 ? '0円' : #numbers.formatInteger(summary.expenseTotal, 3, 'COMMA') + '円'}">
                                            支出</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">収入の内訳</h3>
                        </div>
                        <div class="card-body p-0" style="display: flex; justify-content: center; align-items: center;">
                            <canvas id="incomesChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">支出の内訳</h3>
                        </div>
                        <div class="card-body p-0" style="display: flex; justify-content: center; align-items: center;">
                            <canvas id="expensesChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="col text-right mb-2">
                        <a th:href="@{/transactions/new}" class="btn btn-success">記録する</a>
                    </div>
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title" th:text="${currentDate} + の明細">今月の明細</h3>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table text-nowrap">
                                <thead>
                                    <tr>
                                        <th>日付</th>
                                        <th>タイプ</th>
                                        <th>カテゴリ</th>
                                        <th>内容</th>
                                        <th>金額</th>
                                        <th>編集</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="transaction : ${transactions}">
                                        <td th:text="${transaction.date}">Date</td>
                                        <td th:switch="${transaction.category.type}">
                                            <span th:case="'expense'" th:text="支出">支出</span>
                                            <span th:case="'income'" th:text="収入">収入</span>
                                        </td>
                                        <td th:text="${transaction.category.name}">Category</td>
                                        <td th:text="${transaction.description}">Description</td>
                                        <td th:switch="${transaction.category.type}">
                                            <span th:case="'expense'"
                                                th:classappend="${colorPreference == 'greenPositive'} ? 'text-danger' : 'text-success'"
                                                th:text="${#numbers.formatInteger(transaction.amount, 3, 'COMMA')} + '円'">
                                                Amount</span>
                                            <span th:case="'income'"
                                                th:classappend="${colorPreference == 'greenPositive'} ? 'text-success' : 'text-danger'"
                                                th:text="${#numbers.formatInteger(transaction.amount, 3, 'COMMA')} + '円'">
                                                Amount</span>
                                        </td>
                                        <td><a th:href="@{/transactions/edit/{id}(id=${transaction.id})}"
                                                style="color: #212529;"><i class="fa-solid fa-pen-to-square"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var categoryExpenses = /*[[${categoryExpenses}]]*/[];
    var categoryIncomes = /*[[${categoryIncomes}]]*/[];
    var currentDate = /*[[${currentDate}]]*/[];
    /*]]>*/

    document.addEventListener('DOMContentLoaded', function () {
        const ctxExpense = document.getElementById('expensesChart').getContext('2d');
        const ctxIncome = document.getElementById('incomesChart').getContext('2d');

        const labelsExpense = categoryExpenses.map(expense => expense.categoryName);
        const dataExpense = categoryExpenses.map(expense => expense.totalAmount);

        const labelsIncome = categoryIncomes.map(income => income.categoryName);
        const dataIncome = categoryIncomes.map(income => income.totalAmount);

        const chartExpense = new Chart(ctxExpense, {
            type: 'doughnut',
            data: {
                labels: labelsExpense,
                datasets: [{
                    label: 'カテゴリ別支出',
                    data: dataExpense,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'カテゴリ別支出 (' + currentDate + ')'
                    },
                    tooltip: {
                        enabled: true
                    },
                    datalabels: {
                        color: 'white',
                        font: {
                            size: 18
                        },
                        formatter: function (value, context) {
                            return value.toString() + '円';
                        }
                    }
                },

            },
            plugins: [
                ChartDataLabels,
            ],
        });
        const chartIncome = new Chart(ctxIncome, {
            type: 'doughnut',
            data: {
                labels: labelsIncome,
                datasets: [{
                    label: 'カテゴリ別収入',
                    data: dataIncome,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'カテゴリ別収入(' + currentDate + ')'
                    },
                    tooltip: {
                        enabled: true
                    },
                    datalabels: {
                        color: 'white',
                        font: {
                            size: 18
                        },
                        formatter: function (value, context) {
                            return value.toString() + '円';
                        }
                    }
                },

            },
            plugins: [
                ChartDataLabels,
            ],
        });
    });
</script>