<div class="container" th:fragment="content" th:with="title='履歴編集 - simplesave'">
  <section class="content-header">
    <div class="container form-container">
      <div class="row mb-2">
        <div class="col">
          <h1>履歴の編集</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container form-container">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-success">
            <form id="updateForm" th:action="@{/transactions/edit/{id}(id=${transaction.id})}"
              th:object="${transaction}" method="post" class="needs-validation" novalidate>
              <div class="card-body">
                <div class="form-group">
                  <label>カテゴリタイプ</label>
                  <div class="category-type-radio">
                    <input class="form-check-input" type="radio" name="categoryType" id="typeExpense" value="expense"
                      th:checked="${transaction.category.type == 'expense'}" required>
                    <label class="form-check-label labelExpense" for="typeExpense">支出</label>
                    <input class="form-check-input" type="radio" name="categoryType" id="typeIncome" value="income"
                      th:checked="${transaction.category.type == 'income'}">
                    <label class="form-check-label labelIncome" for="typeIncome">収入</label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="date">日付</label>
                  <input type="date" name="date" id="date" class="form-control" placeholder="日付" th:field="*{date}"
                    required>
                  <div class="invalid-feedback">
                    日付を正しく入力してください
                  </div>
                  <div th:if="${#fields.hasErrors('date')}">
                    <p class="error text-danger small mt-1" th:errors="*{date}">date Error</p>
                  </div>
                </div>

                <div class="form-group">

                  <label for="categoryId">カテゴリ</label>
                  <div class="form-row">
                    <select name="categoryId" id="categoryId" class="form-control col-8" required>
                      <option value="" th:each="category : ${categories}" th:value="${category.id}"
                        th:text="${category.name}">
                        カテゴリ名</option>
                    </select>
                    <a id="addCategoryButton" href="" class="btn btn-outline-dark ml-2 col-3"> 追加</a>
                  </div>
                  <div class="invalid-feedback">
                    カテゴリを選択してください
                  </div>
                </div>

                <div class="form-group">
                  <label for="description">内容</label>
                  <input type="text" th:field="*{description}" name="description" class="form-control" placeholder="内容"
                    id="description">
                </div>
                <div class="form-group">
                  <label for="amount">金額</label>
                  <input type="number" th:field="*{amount}" name="amount" class="form-control" placeholder="金額"
                    id="amount" min="1" required>

                  <div class="invalid-feedback">
                    金額を正しく入力してください
                  </div>
                  <div th:if="${#fields.hasErrors('amount')}">
                    <p class="error text-danger small mt-1" th:errors="*{amount}">amount Error</p>
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <input type="submit" value="更新" class="btn btn-success">
            </form>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal">
              削除
            </button>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog"
  aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">削除の確認</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        本当に削除しますか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
        <form th:action="@{/transactions/delete/{id}(id=${transaction.id})}" method="post">
          <button type="submit" class="btn btn-danger">削除</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/form-validation.js"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  var categories = /*[[${categories}]]*/[];
  var currentCategoryId = /*[[${transaction.category.id}]]*/'';
  var expenseCategoryUrl = /*[[@{/categories-expense/new}]]*/'';
  var incomeCategoryUrl = /*[[@{/categories-income/new}]]*/'';
  /*]]>*/

  document.addEventListener('DOMContentLoaded', function () {
    var categoryTypeRadios = document.querySelectorAll('input[name="categoryType"]');
    var categorySelect = document.getElementById('categoryId');
    var initialCategoryType = document.querySelector('input[name="categoryType"]:checked').value;
    var addCategoryButton = document.getElementById('addCategoryButton');

    updateCategoryOptions(categorySelect, initialCategoryType);
    updateAddCategoryButton(initialCategoryType);

    categoryTypeRadios.forEach(function (radio) {
      radio.addEventListener('change', function () {
        updateCategoryOptions(categorySelect, this.value);
        updateAddCategoryButton(this.value);
      });
    });

    function updateCategoryOptions(select, type) {
      var filteredCategories = categories.filter(function (category) {
        return category.type === type;
      });

      select.innerHTML = '';

      filteredCategories.forEach(function (category) {
        var option = document.createElement('option');
        option.value = category.id;
        option.textContent = category.name;
        if (category.id === currentCategoryId) {
          option.selected = true;
        }
        select.appendChild(option);
      });
    }

    function updateAddCategoryButton(type) {
      var href = type === 'expense' ? expenseCategoryUrl : incomeCategoryUrl;
      addCategoryButton.setAttribute('href', href);
    }
  });
</script>