<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <title th:text="${title} ?: 'simplesave'">simplesave</title>
</head>

<body class="layout-fixed layout-navbar-fixed sidebar-closed sidebar-collapse">
    <div class="wrapper">
        <!-- 共通のヘッダー内容 -->
        <header th:replace="~{header::header}">
            <!-- 個別ページのコンテンツ -->
        </header>

        <main class="content-wrapper px-4 py-2">

            <section th:replace="~{${content}}">
                <!-- 個別ページのコンテンツ -->
            </section>
        </main>
        <footer class="main-footer">
            <!-- 共通のフッター内容 -->
            footer
        </footer>
    </div>

    <!-- 共通のJavaScriptファイル等 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
</body>

</html>