<div class="container" th:fragment="content">
  <section class="content-header">
    <div class="container form-container">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-secondary" onclick="history.back();"><i
              class="fa-solid fa-arrow-left"></i>&nbsp;戻る</button>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <h1>収入カテゴリの登録</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container form-container">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-success">
            <form th:action="@{/categories-income/new}" method="post">
              <div class="card-body">
                <div class="form-group">
                  <label for="name">内容</label>
                  <input type="text" name="name" class="form-control" placeholder="カテゴリ名" id="name" required autofocus>
                </div>
                <div class="card-footer">
                  <input type="submit" value="登録" class="btn btn-success">
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>